*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  background-color: gainsboro; 
}

.main{  
  height: 100vh;
  display: flex;
  align-items: center;
}

.card{
   width: 50%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1.9rem;
   justify-content: center;
   width: 22rem;
   height: 20rem;
   border-radius: 1.7rem;

}

.top-bg{
  position: absolute;
  top: 100px;
  width: 23rem;
  height: 32rem;
}

.btm-bg {
  position: absolute;
  width: 23rem;
  bottom: 40px;
  height: 32rem;
}

.top-pattern{
  height: 7.9rem;
  border-top-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  width: 100%;
  background: url('assets/bg-pattern-card.svg');
}

.content{
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  bottom: 50px;

}

.profile-picture{
  border: 5px solid whitesmoke;
}

h5{

}

p{
  
}


footer{
  display: flex;
  justify-content: space-between;
  width: 20rem;
  border-top: 2px solid gray;
}


